@import 'tailwindcss';

@theme {
  /* 원색 토큰 */
  --color-slate-900: #0f172a;
  --color-slate-800: #1e293b;
  --color-slate-500: #64748b;
  --color-slate-400: #94a3b8;
  --color-slate-300: #cbd5e1;
  --color-slate-200: #e2e8f0;
  --color-slate-100: #f1f5f9;
  --color-violet-600: #7c3aed;
  --color-violet-100: #ede9fe;
  --color-rose-500: #f43f5e;
  --color-lime-300: #bef264;
  --color-amber-800: #92400e;

  /* 의미 기반 매핑 */
  --color-bg: var(--color-slate-100);
  --color-text: var(--color-slate-900);
  --color-border: var(--color-slate-300);
  --color-primary: var(--color-violet-600);
  --color-delete: var(--color-rose-500);
  --color-edit: var(--color-lime-300);

  /** 폰트 */
  --font-sans: var(--font-nanum), ui-sans-serif, system-ui, sans-serif;
}

/* body에 토큰 적용 */
body {
  @apply bg-bg text-text font-sans antialiased;
}

input {
  @apply focus:outline-none;
}

button {
  @apply hover:cursor-pointer;
}

/* 유틸 추가 */
@layer utilities {
  /* Bold 20px */
  .ty-5 {
    @apply text-[20px] leading-[28px] font-bold;
  }

  /* Bold 18px */
  .ty-4 {
    @apply text-[18px] leading-[26px] font-bold;
  }

  /* Extra Bold 16px */
  .ty-3 {
    @apply text-[16px] leading-[24px] font-extrabold;
  }

  /* Bold 16px */
  .ty-2 {
    @apply text-[16px] leading-[24px] font-bold tracking-tight;
  }

  /* Regular 16px */
  .ty-1 {
    @apply text-[16px] leading-[24px] font-normal;
  }
}
